* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
 
  height: 33px;
  width: 100%;
  padding-top: 11px;
  position: sticky;
  top: 0;
  z-index: 1111;

}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1508px;
  margin: 20px auto;
  padding: 0 48px;
}
.header-div1 {
  display: flex;
  align-items: center;
}
.header-div1 h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}
.header-div2 {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
}
.header-div3 {
  display: flex;
  align-items: center;
}
.navbar2 {
  display: flex;
  list-style: none;
}
.navlink a {
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: black;
  text-decoration: none;
}
.header-wrapper {
   width: 100%;
  height: 100vh; 
  background-image: url(../img/Hero.jpg);
  background-size: cover;
  background-position: center;

}
/* main */
main h1 h2 h3 h4 h5 h6 {
    color: #161C2D ;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 36px;
}
main p {
        color: grey;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: Roboto, sans-serif;
    }
/* SECTION 1  */

    
 /* SECTION 2  */ 
   .jobs-section {
      
       background-color: #161C2D;
         
           height: 600px;
           display: flex;
           justify-content: center;
           flex-direction: column;
           align-items: center;
   }
   

   .job-header{
    max-width: 80%;
    margin: 80px auto;
    margin-top: 50px;
   
   }
   .job-header h3 {
       color: white;
       font-size: 28px;
       font-weight: 700;
       font-family: 'Roboto', sans-serif;
   
     margin-top: 70px;
    
     
       
      
   }
.job-boxs{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .job-box{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

/* FOOTER  */
.footer {
  background-color: #161c2d;
  display: flex;
  align-items: center;
  align-items: flex-start;
  height: 496px;
  width: 100%;
  padding-top: 130px;
}
.container-footer {
  display: flex;
  justify-content: flex-start;
  width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 150px;
  gap: 20px;
  flex: 1;
}
.footer-sosial {
  display: flex;
  gap: 12px;
}
.footer-links {
  display: flex;
  gap: 80px;
  flex: 2;
}
.footer-links div {
  display: flex;
  flex-direction: column;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  display: flex;
}

.footer-left h3 {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: white;
  letter-spacing: -0.1px;
}
.footer-left p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: white;
}
.footer-links2 .footer-links3 .footer-links4 h4 {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.links-ul a {
  font-size: 17px;
  line-height: 40px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.footer-ul a {
  text-decoration: none;
  color: white;
}
.footer-h4 {
  color: white;
  margin-bottom: 20px;
  letter-spacing: -0.1px;
}
.footer-div li {
  margin-bottom: 10px;
}
