* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 33px;
  width: 100%;
  padding-top: 21px;
  position: sticky;
  top: 0;
  z-index: 1111;
  background-color: #ffffff;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 80%;
  max-width: 1508px;
  margin: 0 auto;
  padding: 0 48px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo h1 {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.navbar {
  display: flex;
}
.navlist {
  display: flex;
  gap: 20px;
  list-style: none;
}
.navlink a {
  text-decoration: none;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}
.button-div {
  display: flex;
}
.button-list {
  display: flex;
  gap: 16px;
  list-style: none;
}
.button-list a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  color: black;
}
/* SECTION 1  */
.home {
  width: 100%;
  height: 100vh; 
  
  background-size: cover;
  background-position: center;
  background-image: url('/assets/img/Image.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
 
  

}
.home-header{
display: flex;


flex-direction: column;
width: 50%;
}
 .home-header h1{
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: black;
 }   
    .home-header p{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: gray;
        margin-top: 20px;
    }
 /* SECTION 2  */ 
   .jobs-section {
      
       background-color: #161C2D;
         
           min-height: 600px;
           display: flex;
           justify-content: center;
           flex-direction: column;
           align-items: center;
   }
   

   .job-header{
    max-width: 80%;
    margin: 80px auto;
    margin-top: 50px;
   
   }
   .job-header h3 {
       color: white;
       font-size: 28px;
       font-weight: 700;
       font-family: 'Roboto', sans-serif;
   
     margin-top: 70px;
    
     
       
      
   }
.job-boxs{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .job-box{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 /* SECTION 3  */ 
 .find-jobs{
    max-width: 1200px;
    margin: 0 auto;
 }
 .find-jobs img{
max-width: 400px;
border-radius: 8px;
 } 
 .find-jobs{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    flex-direction: column;
 }
 
.find-item-img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
 .find-btn{
     background-color: #161C2D;
    color: white;
    border: none;   
    
    font-size: 16px;
    cursor: pointer;
    width:400px ;
    height: 100px;
   
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
 }
 .find-btn:hover{
    background-color: #473BF0;
    transition: 0.3s;
 }
.find-icon{
    
   width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
  display: flex;
    background-color: #68D585;
    border-radius: 50%;
  justify-self: left;
} 
.find-icon img{
    width: 15px;
    height: 15px;
}
.find-btn p{
   color: white;
    font-size:10px;
    font-weight: 500;
}
.find-job{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.find-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#473BF0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.find-job-item{
    display: flex;
    gap: 20px;
    align-items: center;
}
/* SECTION 4 features  */ 
.features{
  width: 100%;
    margin: 0 auto;
     
     display: flex;
     justify-content: center;
}
.features-content{
  display: flex;
  max-width: 70%;
  flex-direction: column;
 
   margin-left: auto;
  margin-right: auto;
}
.features-card{
   width: 250px;
   height: 280px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  
  

}
.features-brand{
  display: flex;
  margin-top: 20px;
  gap: 10px;
  align-items: center;
  
  
}
 .features-card span{
  font-weight: 700;
} 
.features-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   
}
.features-logo img{
   width: 100%;
}
.features-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #56CD5D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  gap: 20px;
   
}
.features-icon img{
    width: 20px;
    height: 20px;
}
/* Section 5 News  */
.News-section{
    width: 100%;
    margin: 0 auto;
    background-color: #F5F7FF;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}
.news-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}
.news-card{
    background-color: white;
    padding: 20px; 
   
    width: 300px;
   height: 380px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
 }
 .new-card p{
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color:#161C2D;
  
 }
 .new-card h5{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: black;
 }
 /* Subscribe Section */
.subscribe-section{
 
    width: 100%;
    
    display: flex;
    min-height: 550px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.subscribe-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    width: 100%;
    
}
.subscribe-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #68D585;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
}
   .subscribe-icon img{
    width: 28px;
    height: 23px;
   }
   .subscribe-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
   }
   .subscribe-form{
    width: 40%;
    display: flex;
    gap: 10px;
   }
   .subscribe-section p{
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: gray;
   }
    
/* FOOTER  */
.footer {
  background-color: #161c2d;
  display: flex;
  align-items: center;
  align-items: flex-start;
  height: 496px;
  width: 100%;
  padding-top: 130px;
}
.container-footer {
  display: flex;
  justify-content: flex-start;
  width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 150px;
  gap: 20px;
  flex: 1;
}
.footer-sosial {
  display: flex;
  gap: 12px;
}
.footer-links {
  display: flex;
  gap: 80px;
  flex: 2;
}
.footer-links div {
  display: flex;
  flex-direction: column;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  display: flex;
}

.footer-left h3 {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: white;
  letter-spacing: -0.1px;
}
.footer-left p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: white;
}
.footer-links2 .footer-links3 .footer-links4 h4 {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.links-ul a {
  font-size: 17px;
  line-height: 40px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.footer-ul a {
  text-decoration: none;
  color: white;
}
.footer-h4 {
  color: white;
  margin-bottom: 20px;
  letter-spacing: -0.1px;
}
.footer-div li {
  margin-bottom: 10px;
}
