* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 33px;
  width: 100%;
  padding-top: 21px;
  position: sticky;
  top: 0;
  z-index: 1111;
  background-color: #ffffff;
  padding: 30px 24px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 80%;
  max-width: 1508px;
  margin: 0 auto;
  padding: 0 48px;
}

.header-logo {
  display: flex;
}
.navlist li a,
.button-list li a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

/* Hover zamanı narıncı */
.navlist li a:hover,
.button-list li a:hover {
  color: #FB6D45;
}

/* Hal-hazırda baxılan səhifə */
.navlist li a.active,
.button-list li a.active {
  color:#FB6D45;
 
}

@media (max-width: 768px) {
  .container-header {
    width: 100%;
    padding: 0 24px;
  }

  .header-logo h1 {
    display: none;
  }
}

/* Telefon (480px və aşağı) */
@media (max-width: 480px) {
  .container-header {
    width: 100%;
    padding: 0 16px;
    flex-direction: column;
    gap: 10px;
  }

  .header-logo h1 {
    display: none;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo h1 {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

.navbar {
  display: flex;
}

.navlist {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navlink a {
  text-decoration: none;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.button-div {
  display: flex;
}

.button-list {
  display: flex;
  gap: 16px;
  list-style: none;
}

.button-list a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  color: black;
}
/* SECTION 1  */
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 80px;
}
.container-section1 {
  text-align: center;
  width: 640px;
  margin: 0 auto;
}
.section1-div1 {
  padding-top: 90px;
}
.section1-div2 {
  padding-top: 30px;
}
.section1-div1 h2 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.section1-div2 p {
  font-size: 19px;
  line-height: 32px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
/* SECTION 2 */
.section2 {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  height: 1, 137px;
}
.container-section2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 854px;
  margin: 0 auto;
}
.section2-div1 p {
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.section2-div2 h3 {
  font-size: 19px;
  line-height: 32px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.section2-div2 p {
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.section2-div3 h3 {
  font-size: 19px;
  line-height: 32px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.section-navbar li {
  font-size: 17px;
  line-height: 50px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.section-navbar {
  list-style-position: inside;
}
.section2-div4 h3 {
  font-size: 19px;
  line-height: 32px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.section2-div4 p {
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.section2-div5 h3 {
  font-size: 19px;
  line-height: 32px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.section2-div5 p {
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.section2-div1,
.section2-div2,
.section2-div3,
.section2-div4,
.section2-div5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/* FOOTER  */
.footer {
  background-color: #161c2d;
  display: flex;
  align-items: center;
  align-items: flex-start;
  height: 496px;
  width: 100%;
  padding-top: 130px;
}
.container-footer {
  display: flex;
  justify-content: flex-start;
  width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 150px;
  gap: 20px;
  flex: 1;
}
.footer-sosial {
  display: flex;
  gap: 12px;
}
.footer-links {
  display: flex;
  gap: 80px;
  flex: 2;
}
.footer-links div {
  display: flex;
  flex-direction: column;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  display: flex;
}

.footer-left h3 {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: white;
  letter-spacing: -0.1px;
}
.footer-left p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: white;
}
.footer-links2 .footer-links3 .footer-links4 h4 {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.links-ul a {
  font-size: 17px;
  line-height: 40px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.footer-ul a {
  text-decoration: none;
  color: white;
}
.footer-h4 {
  color: white;
  margin-bottom: 20px;
  letter-spacing: -0.1px;
}
.footer-div li {
  margin-bottom: 10px;
}
